# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\manga_rec\magna_rec_packages\mangaRecommender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
